.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.navsbar .navbar ul{
  list-style-type: none;
    display: flex;
    padding: 20px 0;
}
.navsbar .navbar ul li{
  margin: 0 20px;
}
.navsbar .navbar ul li a{
  text-decoration: none;
  color: #282c34;
  font-size: 18px;
  font-weight: bold;
}  .navbar-brand .logo{
  text-decoration: none;
  color: #282c34;
}

.navsbar .navbar ul li a:hover{
}
nav .navbar-collapse a{
  text-decoration: none;
  color: #282c34;
  font-size: 18px;
  font-weight: bold;
}

nav .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
.main-content{
  display: flex;
  /* justify-content: center; */
}
.sides{
  position: fixed;
  top: 80px;
  left: 0;
  width: 300px;
}
form{
  margin: 0 auto 0;
  padding: 100px 0 0;
}
form .form-heading{
  margin-bottom: 50px;
}
.form-label {
  margin-bottom: 0.5rem;
  /* float: left; */
  display: flex;
  justify-content: left;
}
.App {
  text-align: center;
}
.label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}
.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}
.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
body {
  background-color: #fbfbfb;
}
.login-form {
  font-family: arial;
  color: #333;
}
.login-form form {
  width: 500px;
  margin: 60px auto;
  padding: 20px 30px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.login-form h2 {
  text-align: center;
  font-size: 35px;
  margin: 10px 0px 40px;
}
.login-form input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 10px;
  height: 45px;
  margin: 04px 0px 04px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
}
.login-form button {
  margin: 10px auto 30px;
  display: table;
  font-size: 20px;
  padding: 10px 30px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.login-form button:hover{
opacity: 0.8;
}
.login-form input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  float: left;
}
.login-form .forget-psw {
  float: right;
}
.login-form .forget-psw a {
  color:#4CAF50;
  text-decoration: underline;
}
.social-btn button.twitter-btn, .social-btn button.facebook-btn {
  width: 100%;
  font-size: 18px;
  margin: 0px 0px 10px;
}
.social-btn button.twitter-btn{
background-color: #26abfd;
}
.social-btn button.facebook-btn{
background-color: #3f68be;
}
.social-btn button.google-btn {
  width: 100%;
    font-size: 18px;
    margin: 0px 0px 10px;
  background-color: #DB4437;
}
.social-btn {
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 30px;
}
.social-btn button i {
  margin-right: 5px;
  font-size: 20px;
}
.remember_me{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 556px) {
  form {
    max-width: 80%;
    margin: 0 auto 0;
    padding: 100px 0 0;
}
.social-btn button.twitter-btn, .social-btn button.facebook-btn {
  width: 100%;
  font-size: 14px;
  margin: 0px 0px 10px;
}

}
span.eroor{
  color: #DB4437;
  text-align: left;
  display: block;font-size: 14px;
}
Nav.nav-bar{
position: fixed;
top: 0;
width: 100%;
}

.blogs{
  margin-top: 120px;
}
.blogs-detail {
  margin-top: 120px;
  /* max-width: 1000px; */
  width: calc(100% - 270px);
  margin-left: auto;
  text-align: center;
}




